<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so101_new_calib">
    <xacro:arg name="initial_positions_file" default="$(find so101_moveit)/config/initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="port" default="/dev/ttyACM0" />
    <xacro:arg name="calibration_file" default="" />

    <!-- Import so101_new_calib urdf file -->
    <xacro:include filename="$(find so101_description)/urdf/so101_new_calib.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="so101_new_calib.ros2_control.xacro" />

    <!-- Instantiate ros2_control with parameters -->
    <xacro:so101_new_calib_ros2_control
        name="SO101Hardware"
        initial_positions_file="$(arg initial_positions_file)"
        use_fake_hardware="$(arg use_fake_hardware)"
        port="$(arg port)"
        calibration_file="$(arg calibration_file)"/>

</robot>
